<!DOCTYPE html>
<html>
<head>
    <title>Timeshots - Sign In</title>
    <link rel="icon" href="${resource(dir: 'images/timeshots', file: 'ts.ico')}">
    <link rel="stylesheet" href="css/login/signin.css" type="text/css">
    <link rel="stylesheet" href="css/login/signin.min.css" type="text/css">
</head>
<body>
<div class="container">
    <form name="login_form" class="form-signin" role="form" xnovalidate ng-submit="register()">
        <h2 class="form-signin-heading">Please sign in</h2>
        <input type="text" class="form-control" placeholder="Email address" name="username" required autofocus>
        <input type="password" class="form-control" placeholder="Password" name="password" required>
        <label class="checkbox">
            <input type="checkbox" value="remember-me"> Remember me
        </label>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
</body>
</html>